.container {
	width: 710px;
	
}

body {
	background-color: #cff;
}

header {
	padding-top: 20px;
}

header img {
	padding: 1em;
	background-color: white;
}

section {
	margin-top: 1em;
	font-size: 1.2em;
	padding: 20px;
	background: white;
}

h1 {
	font-size: 2em;
}

a {
	color: #09c;
	text-decoration: none;
}

a:visited {
	color: #069;
}

a:hover {
	text-decoration: underline;
	color: #069;
}

nav {
	float: right;
	background: white;
	padding: 0, 0.7em;
	white-space: nowrap;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
	text-decoration: underline;
}

a.signup-button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: white;
	background-color: #006400;
	font-size: 1.5em;
	font-weight: bold;
	padding: 20px;
}

.round {
	border-radius: 10px;
}

footer {
	text-align: center;
	margin-top: 10px;
	width: 710px;
	margin-left: auto;
	margin-right: auto;
}

footer nav {
	float: none;
}

.profile {
	width: 100%;
	margin-bottom: 0;
	
}

td.main {
	width: 70%;
	padding: 1em;
}

td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #ffc;
}

.profile img.gravatar {
	border: 1px solid #999;
	margin-bottom: -15px;
}

div.field, div.action {
	margin-bottom: 10px;
}

.field_with_errors {
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display: table;
}

.field_with_errors label {
	color: white;
}

#error-explanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error-explanation h3 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: white;
}

#error-explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#error-explanation ul li {
	font-size: 12px;
	list-style:square;
}

ul.users {
	margin-top: 1em;
	list-style-type: none;
}

h1.micropost {
	margin-bottom: 0.3em;
}

table.microposts {
	margin-top: 1em;
}

table.microposts tr {
	height: 70px;
}

table.microposts td {
	border-top: solid 1px #ccc;
}

table.microposts tr td.gravatar {
	/*border-top: solid 1px #ccc;*/
	vertical-align: top;
	width: 50px;
}

table.microposts tr td.micropost {
	vertical-align: top;
	padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
	display: block;
	font-size: 0.85em;
	color: #666;
}

div.user_info img {
	padding-right: 0.1em;
}

div.user_info a {
	text-decoration: none;
}

div.user_info span.user_name {
	position: absolute;
	font-size: 1.2em;
}

div.user_info span.microposts {
	font-size: 0.8em;
}

form.new_micropost {
	margin-bottom: 2em;
}

form.new_micropost textarea {
	height: 4em;
	margin-bottom: 0;
}

.stats {
	overflow: auto;
	margin-top: 20px;
}

.stats a {
	float: left;
	padding: 0 10px;
	border-left: solid 1px #ccc;
	color: gray;
}

.stats a:first-child {
	padding-left: 0;
	border: 0;
}

.stats a:hover {
	text-decoration: none;
	color: blue;
}

.stats strong {
	display: block;
}

.user_avatars {
	overflow: auto;
	margin-top: 10px;
}

.user_avatars .gravatar {
	margin: 1px;
}

.btn-large {
	padding: 5px 15px;
	font-size: 1.2em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	border-style: none;
}

.btn-primary {
	background-color: #9ebefd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(158, 190, 253)), to(rgb(16, 63, 252)));
	background-image: -webkit-linear-gradient(top, rgb(158, 190, 253), rgb(16, 63, 252));
	background-image: -moz-linear-gradient(top, rgb(158, 190, 253), rgb(16, 63, 252));
	background-image: -o-linear-gradient(top, rgb(158, 190, 253), rgb(16, 63, 252));
	background-image: -ms-linear-gradient(top, rgb(158, 190, 253), rgb(16, 63, 252));
	background-image: linear-gradient(top, rgb(158, 190, 253), rgb(16, 63, 252));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9ebefd', EndColorStr='#103ffc');
	background-color: navy;
	color: white;
}